body {
    display: grid;
    /* grid-template-areas: "moo"; */
}

form {
    position: relative;
    height: 100%;
}

#characterLimit {
    color: var(--green);
    position: absolute;
    font-size: 80%;
    right: 8%;
    bottom: 32%;
    font-weight: bold;
}

textarea {
    width: 40vw;
    height: 60%;
    font-size: 100%;
    padding: 1%;
    resize: none;
    background-color: transparent;
    color: white;
    border: 2px solid var(--bright);
}

textarea:focus {
    outline: none;
}

#characterLimit.low {
    color: red;
}

#characterLimit.medium {
    color: yellow;
}

#main {
    height: 30vh;
}