body {
    display: grid;
    grid-template-areas: "profile main users"
                         "profile view users";
    column-gap: 0;
    row-gap: 0;
}

#main {
    grid-area: main;
    width: 50vw;
}

#view {
    width: 50vw;
}

#profile {
    width: 20vw;
}

#users {
    grid-area: users;
    width: 25vw;
    height: 100vh;
}

#usersContainer {
    height: 100%;
    margin-top: 2.5vh;
}

#listUsers {
    width: 100%;
    margin: auto;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
}

#listUsers a {
    color: var(--bright);
    text-decoration: none;
}

#listUsers:last-child {
    color: red !important;
    /* margin-bottom: 200px; */
}

.userBox {
    width: 100%;
    padding: 0.5vw;
    display: grid;
    grid-template-areas: "pfp name"
        "pfp desc";
    grid-template-columns: 1fr 4fr;
    column-gap: 1vw;
    margin: 0vh auto 0vh auto;
}

.userBox:hover {
    background-color: var(--dark-hover);
}

.boxImage {
    width: 90%;
    grid-area: pfp;
}

.boxName {
    grid-area: name;
    text-align: left;
    font-size: 80%;
    overflow-x: scroll;
    white-space: nowrap;
    text-overflow: clip;
}

.boxName::-webkit-scrollbar {
    display: none;
}

.boxDesc {
    grid-area: desc;
    font-size: 50%;
    width: 100%;
}

/*User Search Bar*/

.float-container {
    width: 80%;
}

.float-container label {
    transform: translate(0, calc(0.75vw)) scale(1);
}

.float-container.active label {
    transform: scale(.7);
}

#userSearch {
    width: 90%;
    margin: 0.75vw;
}