body {
    display: grid;
    grid-template-areas: "profile view users"
                         "profile view users";
    column-gap: 0;
    row-gap: 0;
}

#view {
    grid-area: view;
    height: 100vh;
    position: relative;
}

#follow {
    background-color: var(--green);
    font-weight: bold;
    display: inline;
    margin-top: 1vh;
    position: absolute;
    width: 7vw;
    right: 5%;
}

#viewingHeader {
    display: inline-block;
    margin-top: 1vh;
}

#follow.following {
    background-color: var(--bright);
}