.mooBox {
    background-color: #444;
    margin: 4%;
    padding: 2% 1% 0% 2%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "name name"
                   "desc desc"
                   ". dat";
    width: 35vw;
    height: min-content;
}

.mooName {
    font-size: 95%;
    grid-area: name;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 1vh;
}

.mooDesc {
    font-size: 90%;
    grid-area: desc;
    text-align: left;
    margin-bottom: 1vh;
}

.mooDate {
    font-size: 50%;
    grid-area: dat;
    text-align: right;
}

body {
    overflow-x: hidden;
}